@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Circular";
  background-color: #171717;
}

.direction {
  background-color: #131313;
}

.direction:hover {
  background-color: black;
}

.btnPlay {
  background-color: #1ed760;
}
.btnPlay:hover {
  background: #1ed760;
  box-shadow: 0 0 8px white;
}

.btnSalve:hover {
  box-shadow: 0 0 8px white;
}

.section1 {
  background-image: linear-gradient(16deg, black, #ffffff1c);
}

.section2 {
  background-color: #2c2c2c;
}

.section2-last {
  background-color: #2c2c2c;
}

.section2:hover {
  box-shadow: 0 0 8px black;
  cursor: pointer;
}

.section3 {
  background-color: #161616;
}

.w-19 {
  width: 19%;
}

.btnNascondi {
  background-color: #222222;
}

.cardStile:hover {
  box-shadow: 0 0 8px white;
  cursor: pointer;
}

.size-footer {
  font-size: 13px;
  text-decoration: none;
}
.size-footer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-position {
  width: 70rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.size-piccolo {
  font-size: 10px;
}

.titolo-card {
  font-size: 15px;
}

/*SIDER BAR CSS*/
.mainContainer {
  height: 100%;
}

.mainContainerGap {
  gap: 8px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "nav main sidebar"
    "aside main sidebar";
}

.b-radius-8px {
  border-radius: 8px;
  background-color: #121212;
}

.text-grey {
  color: #b3b3b3;
}

.bg-bottom-player {
  background-color: #181818;
}

.a-side {
  color: #b3b3b3;
  text-decoration: none;
}

.grey-border {
  border-color: #b3b3b3 !important;
}

.a-side:hover {
  color: white;
}

.playlistColumn {
  min-height: 100vh;
}

.font-circular {
  font-family: Circular, sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fs-08 {
  font-size: 0.8;
}

.fs-06 {
  font-size: 0.6rem;
}

.fs-05 {
  font-size: 0.5rem;
}

.z-index-2 {
  z-index: 2;
}

.volume-bar-width {
  width: 100px;
}

.slider {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.sliderMain {
  width: 300px;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.height-sidebar {
  /*height: calc(100vh - 76px);*/
}

@media screen and (max-width: 768px) {
  .w-19 {
    width: 45%;
    margin-inline: auto;
    margin-block-end: 1rem;
  }
}
